// Structure
// ============================================================

// .outer {
// 	@include media(min-width $desktop) {
// 		@include pad(4em 0);
// 	}
// 	@include media(max-width $desktop) {
// 		@include pad(1em 0);
// 	}
// }
.inner {
	@include outer-container;
	@include media(min-width $desktop) {
		@include fill-parent;
		@include pad(4em 0);
	}
	@include media(max-width $desktop) {
		@include pad(null 1em);
	}
}

.center {
	text-align: center;
}

.hero-title {
	position: absolute;
	right: 0;
	@include media(min-width $tablet) {
		@include size(25em null);
		top: 0;
	}
	@include media(max-width $tablet) {
		top: 0;
	}
}

.hero .content {
	position: relative;
	z-index: 1;
	@include margin(null auto);
	@include media(min-width $tablet) {
		@include size(40em null);
		@include padding(.2em null null);
	}
	@include media(max-width $tablet min-width $mobile) {
		@include size(22em null);
		@include padding(5em null null);
	}
	@include media(max-width $mobile) {
		@include size(18em null);
		@include padding(4em null null);
	}
}

.hero-top .inner {
	@include padding(null null 0);
}

.hero-bottom {
	@include media(min-width $tablet) {
		@include padding(5em null 2em);
	}
	@include media(max-width $tablet min-width $mobile) {
		@include padding(2em null 1em);
	}
	@include media(max-width $mobile) {
		@include padding(1em null);
	}
}

.hero .content h1 {
	@include pad(0);
	@include media(min-width $tablet) {
		@include margin(null null .2em);
		font-size: 5em;
		line-height: 1em;
	}
	@include media(max-width $tablet min-width $mobile) {
		@include margin(null null .4em);
		font-size: 3em;
		line-height: .5em;
	}
	@include media(max-width $mobile) {
		@include margin(null null .2em);
		font-size: 2.5em;
		line-height: 1em;
	}
}

.tile {
	@include media(min-width $tablet) {
		@include margin(.12em .02em);
		@include pad(.2em .6em);
		font-size: 1.6em;
	}
	@include media(max-width $tablet min-width $mobile) {
		@include margin(.2em .01em);
		@include pad(.1em .5em);
		font-size: 1.2em;
	}
	@include media(max-width $mobile) {
		@include margin(.2em .01em);
		@include pad(0 .5em);
		font-size: 1em;
	}
}

.hero-app {
	@include media(min-width $tablet) {
		@include size(14em null);
		@include margin(1em null null);
		display: inline-block;
	}
	@include media(max-width $tablet min-width $mobile) {
		@include size(10em null);
		@include margin(.5em null null);
	}
	@include media(max-width $mobile) {
		@include size(6em null);
		@include margin(.5em null null);
	}
}

.hero-nan {
	@include media(min-width $tablet) {
		@include size(24em null);
		@include margin(4em null null);
	}
	@include media(max-width $tablet min-width $mobile) {
		@include size(10em null);
	}
	@include media(max-width $mobile) {
		@include size(8em null);
	}
}

.bg-oval-white {
	position: relative;
}

.bg-oval {
	position: absolute;
	left: 0;
	right: 0;
}

@include media(min-width $tablet) {
	.bg-oval {
		@include size(100% 6em);
		img {
			@include size(100% 6em);
		}
	}
	.bg-oval-top {
		top: -5.8em;
	}
	.bg-oval-bottom {
		bottom: -5.8em;
	}
}
@include media(max-width $tablet) {
	.bg-oval {
		@include size(100% 3em);
		img {
			@include size(100% 3em);
		}
	}
	.bg-oval-top {
		top: -2.8em;
	}
	.bg-oval-bottom {
		bottom: -2.8em;
	}
}

.nan-themes {
	@include outer-container;
	@include pad(2em null);
	max-width: 96%;
	li {
		@include span-columns(2.4);
		@include omega(5n);
		img {
			@include size(100%);
		}
	}
}
