div.outer.hero.hero-nan.bg-yellow-texture
	div.inner
		div.content
			div.hero-nan-title
				h1= logoText
				p.tile-words= "Download and play"
				a(href="#")
					div.hero-app
						img(src="img/app-store-bub.svg")
			div.hero-nan-img
				img(src="img/nan-main.svg")


script(src="https://code.jquery.com/jquery-2.2.4.min.js")
script(src="js/main.js")