div.outer.hero.hero-phone.bg-yellow-texture
	div.inner
		div.content.content-phone
			div.hero-phone-title
				h1= logoText
				p.tile-words= "Fridge magnets gone bananas"
				a(href="#")
					div.hero-app
						img(src="img/app-store-rectangle.svg")
			div.hero-phone-img
				img(src="img/phone.svg")
				div.hero-phone-screenshot
					img(src="img/screenshot-temp.png")