// Native
// ============================================================

html {
	text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
}

*,
a {
	transition: all .15s ease-in-out;
}

body {
	color: $black;
}

a {
	color: $purple;
	&:hover {
		color: lighten($purple,10);
	}
	&:focus {
		outline: none;
	}
}

button,
input[type="submit"] {
	font-family: $font-body;
	text-transform: uppercase;
	letter-spacing: .1em;
	border-radius: .2em;
}

button {
	@include pad(1em 1.4em);
	font-family: $font-head;
	background-color: $red;
	text-shadow: 0 2px rgba(92,87,104,.2);
	box-shadow: inset 0 0 0 2px $purple,
						inset 0 4px 0 rgba(255,255,255,.2),
						inset 0 -4px 0 darken(shade($red, 10), 5),
						0 2px 0 $purple,
						0 4px 0 rgba(92,87,104,.2);
	&:hover {
		cursor: pointer;
		background-color: lighten($red,5);
	}
}

hr {
	@include pad(0);
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom: 4px solid $grey;
}