hr {
	clear: both;
}

// SELECTORS
// ============================================================

.tile {
	display: inline-block;
	@include margin(.15em .02em);
	@include pad(.4em .6em);
	font-size: .8em;
	line-height: 1.2em;
	font-family: $font-tile;
	font-weight: 400;
	text-shadow: 0 .05em 0 $white;
	color: $purple;
	background-color: $grey;
	border-radius: .2em;
	@include media(min-width $landscape) {
		box-shadow: inset 0 0 0 3px $purple,
							inset 0 6px 0 $white,
							inset 0 -6px 0 darken($grey, 10),
							0 3px 0 $purple,
							0 6px 0 rgba(92,87,104,.2);
	}
	@include media(max-width $landscape) {
		box-shadow: inset 0 0 0 2px $purple,
							inset 0 4px 0 $white,
							inset 0 -4px 0 darken($grey, 10),
							0 2px 0 $purple,
							0 4px 0 rgba(92,87,104,.2);
	}
}

p.tile-words {
	@include margin(null null 0);
}

.tile-large {
	@include margin(0);
	@include pad(.1em .6em);
	line-height: 1.6em;
	@include media(min-width $mobile) {
		font-size: 3em;
	}
	@include media(max-width $mobile) {
		font-size: 2em;
	}
}

.bg-yellow-texture {
	background-color: $yellow-2;
	background-image: url(../img/bg-yellow-texture@1x.png);
	background-repeat: repeat;
}

.bg-purple-3 {
	background-color: $purple-3;
}

.bg-purple-2 {
	background-color: $purple-2;
}

.bg-white {
	background-color: $white;
}

.bg-grey {
	background-color: $grey;
}




