// STRUCTURE
// ============================================================

// .outer {
// 	@include media(min-width $desktop) {
// 		@include pad(4em 0);
// 	}
// 	@include media(max-width $desktop) {
// 		@include pad(1em 0);
// 	}
// }

.inner {
    @include outer-container;
    @include media(min-width $desktop) {
        @include pad(4em 0);
    }
    @include media(max-width $desktop min-width $tablet) {
        @include pad(4em 2em);
    }
    @include media(max-width $tablet min-width $landscape) {
        @include pad(2em 2em);
    }
    @include media(max-width $landscape) {
        @include pad(2em 1em);
    }
}

// REPEATABLE ELEMENTS
// ============================================================

.tileWords span,
.tile {
    @include media(min-width $tablet) {
        @include margin(.12em .02em);
        @include pad(.2em .6em);
        font-size: 1.6em;
    }
    @include media(max-width $tablet min-width $mobile) {
        @include margin(.2em .01em);
        @include pad(.1em .5em);
        font-size: 1.2em;
    }
    @include media(max-width $mobile) {
        @include margin(.2em .01em);
        @include pad(0 .5em);
        font-size: 1em;
    }
}

// HERO - PHONE
// ============================================================

.hero .content {
    position: relative;
    z-index: 1;
    @include margin(null auto);
    @include media(min-width $tablet) {
        @include size(40em null);
        @include padding(.2em null null);
    }
    @include media(max-width $tablet min-width $mobile) {
        @include size(22em null);
        @include padding(5em null null);
    }
    @include media(max-width $mobile) {
        @include size(18em null);
        @include padding(4em null null);
    }
}

.hero .content-phone {
    @include media(min-width $desktop) {
        @include margin(null auto -4em);
        @include padding(.2em null null);
    }
    @include media(max-width $desktop min-width $mobile) {
        @include margin(null auto -1em);
        @include padding(2em null null);
    }
    @include media(min-width $tablet) {
        @include size(48em null);
        @include padding(2em null null);
    }
    @include media(max-width $tablet) {
        @include fill-parent;
        text-align: center;
    }
    @include media(max-width $mobile) {
        // @include size(18em null);
        @include margin(null auto -3em);
        @include padding(4em null null);
    }
}

.hero-phone-title {
    @include media(min-width $tablet) {
        @include size(25em null);
        position: absolute;
        right: 0;
        bottom: 10em;
    }
    @include media(max-width $tablet) {
        @include margin(null auto 2em);
        .hero-app {
            @include margin(1em auto);
        }
    }
}

.hero-phone-img {
    position: relative;
    @include media(max-width $mobile) {
        @include size(16em null);
        @include margin(null auto);
    }
}

.hero-phone-screenshot {
    position: absolute;
    z-index: -1;
    @include media(min-width $tablet) {
        @include size(263px auto);
        top: 92px;
        left: 31px;
    }
    @include media(max-width $tablet) {
        @include size(263px auto);
        @include margin(null auto);
        top: 92px;
        left: 10px;
        right: 0;
    }
    @include media(max-width $mobile) {
        @include size(214px auto);
        @include margin(null auto);
        top: 75px;
        left: 8px;
    }
}

.hero-phone h1 {
    @include pad(0);
    @include media(min-width $tablet) {
        // @include margin(null null .2em);
    }
    @include media(max-width $tablet min-width $mobile) {
        // @include margin(null null .4em);
    }
    @include media(max-width $mobile) {
        // @include margin(null null .2em);
    }
}

.hero-app {
    @include media(min-width $tablet) {
        @include size(14em null);
        @include margin(1em null null);
        display: inline-block;
    }
    @include media(max-width $tablet min-width $mobile) {
        @include size(10em null);
        @include margin(.5em null null);
    }
    @include media(max-width $mobile) {
        @include size(6em null);
        @include margin(.5em null null);
    }
}

// HERO - BIG NAN
// ============================================================

.hero-nan {
    @include padding(5em null 2em);
}

.hero-nan-img {
    @include media(min-width $tablet) {
        @include size(24em null);
        @include margin(4em null null);
    }
    @include media(max-width $tablet min-width $mobile) {
        @include size(10em null);
    }
    @include media(max-width $mobile) {
        @include size(8em null);
    }
}

.hero-nan-title {
    position: absolute;
    right: 0;
    @include media(min-width $tablet) {
        @include size(25em null);
        top: 0;
    }
    @include media(max-width $tablet) {
        top: 0;
    }
}

// OVERVIEW
// ============================================================

.overview {
    @include media(min-width $desktop) {}
    @include media(max-width $mobile) {
        @include pad(2em null null);
    }
}

// GAMEPLAY
// ============================================================

.gameplay {
    h5,p {
        // color: $white;
    }
    .content-gameplay {
        text-align: center;
        @include media(min-width $tablet) {
            @include span-columns(6);
        }
    }
    .content-gameplay-2 {
        text-align: center;
        @include media(min-width $tablet) {
            @include span-columns(6);
            @include omega;
        }
        @include media(max-width $tablet) {
            @include margin(2em null);
        }
    }
    .content-gameplay-visual {
        @include media(min-width $tablet) {
            @include span-columns(6);
            @include omega;
            img {
                @include size(10em);
            }
        }
    }
}

// VOTING
// ============================================================

.voting {
    .content-voting {
        @include media(min-width $tablet) {
            @include span-columns(6);
            @include omega;
        }
    }
    .content-voting-visual {
        @include media(min-width $tablet) {
            @include span-columns(6);
            img {
                @include size(10em);
            }
        }
    }
}

// THEME FEATURE
// ============================================================

.themes {
    overflow: hidden;
    @include media(min-width $desktop) {
        @include margin(2em null null);
    }
}

.content-theme {
    text-align: center;
    @include media(min-width $desktop) {
        @include span-columns(4);
    }
    @include media(max-width $desktop min-width $tablet) {
        @include span-columns(8);
        @include shift(2);
    }
}

.theme-feature {
    position: relative;
    @include media(min-width $desktop) {
        @include span-columns(8);
        @include omega;
        @include margin(-4em null null);
        @include pad(4em 0 3em);
    }
    @include media(max-width $desktop min-width $landscape) {
        @include span-columns(12);
        @include margin(2em null null);
        @include pad(3em 0 2em);
    }
    @include media(max-width $landscape) {
        @include fill-parent;
        @include pad(0 0 2em);
    }
}

.theme-feature-nan {
    @include media(min-width $desktop) {
        @include span-columns(6);
        img {
            @include size(20em);
        }
    }
    @include media(max-width $desktop min-width $landscape) {
        @include span-columns(5);
        text-align: right;
        img {
            @include size(18em);
        }
    }
    @include media(max-width $landscape) {
        text-align: center;
    }
}

.theme-feature-tiles {
    @include media(min-width $desktop) {
        @include span-columns(6);
        @include omega;
    }
    @include media(max-width $desktop min-width $landscape) {
        @include span-columns(6);
        @include omega;
    }
    @include media(max-width $landscape) {
        text-align: center;
    }
}

.theme-feature-bg {
    box-shadow: inset 0 .2em 0 0 rgba(92, 87, 104, .2);
    background-size: cover;
    transition: background-position .05s ease-out;

    @include media(min-width $desktop) {
        @include size(110% auto);
        @include margin(auto);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        border-radius: 2em;
    }
    @include media(max-width $desktop min-width $landscape) {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        border-radius: 2em;
    }
    @include media(max-width $landscape) {
        @include margin(null -1em);
        position: absolute;
        top: 10em;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }
}

// THEME FEATURE NEW
// ============================================================

.content-theme-new {
    position: relative;
    @include media(min-width $desktop) {
        @include span-columns(8);
        @include shift(2);
    }
}

.theme-feature-new {
    position: relative;
    @include media(min-width $desktop) {
        @include span-columns(12);
        @include pad(2em);
    }
    @include media(max-width $desktop min-width $landscape) {
        @include span-columns(12);
        @include margin(2em null null);
        @include pad(3em 0 2em);
    }
    @include media(max-width $landscape) {
        @include fill-parent;
        @include pad(0 0 2em);
    }
}

.theme-feature-new-nan-left,
.theme-feature-new-nan-right {
    @include media(min-width $desktop) {
        @include span-columns(3);
        position: absolute;
    }
    @include media(max-width $desktop min-width $tablet) {
        @include span-columns(3);
        text-align: center;
    }
    @include media(max-width $tablet) {
        @include span-columns(6);
        @include omega(2n);
        text-align: center;
    }
}

.theme-feature-new-tiles {
    @include media(min-width $desktop) {
        @include span-columns(6);
        @include shift(3);
    }
}

.theme-feature-new-nan-left {
    @include media(min-width $desktop) {
        text-align: left;
        left: 2em;
    }
    @include media(max-width $desktop min-width $tablet) {
        @include shift(3);
    }
}

.theme-feature-new-nan-right {
    @include media(min-width $desktop) {
        text-align: right;
        right: 0;
    }
}


.theme-feature-new-bg {
    box-shadow: inset 0 .2em 0 0 rgba(92, 87, 104, .2);
    background-size: cover;
    transition: background-position .05s ease-out;

    @include media(min-width $desktop) {
        @include size(100% auto);
        @include margin(auto);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        border-radius: 2em;
    }
    @include media(max-width $desktop min-width $landscape) {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        border-radius: 2em;
    }
    @include media(max-width $landscape) {
        @include margin(null -1em);
        position: absolute;
        top: 6em;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }
}

// THEME FEATURE BACKGROUNDS
// ============================================================

.theme-feature-bg-jungle {
    background-image: linear-gradient(0deg, transparentize($yellow-2, .5), transparentize($yellow, .8)),
                      linear-gradient(0deg, transparentize($white, .5), transparentize($white, .8)),
                      url("http://static1.squarespace.com/static/54ac4287e4b03d35acdc4bb7/t/576ce35ee4fcb5e5c078df04/1466753894963/");
}
.theme-feature-bg-election {
    background-image: linear-gradient(-90deg, transparentize($red, .5), transparentize($blue, .5)),
                      linear-gradient(-90deg, transparentize($white, .5), transparentize($white, .5)),
                      url("http://swvateapartyab.org/wp-content/uploads/2011/06/USA_Independence_Day_wallpaper_20072.jpg");
}

// BACKGROUND OVAL
// ============================================================

.bg-oval-white {
    position: relative;
}

.bg-oval {
    position: absolute;
    left: 0;
    right: 0;
}

@include media(min-width $tablet) {
    .bg-oval {
        @include size(100% 6em);
        img {
            @include size(100% 6em);
        }
    }
    .bg-oval-top {
        top: -5.8em;
    }
    .bg-oval-bottom {
        // bottom: -5.8em;
    }
}
@include media(max-width $tablet) {
    .bg-oval {
        @include size(100% 3em);
        img {
            @include size(100% 3em);
        }
    }
    .bg-oval-top {
        top: -2.8em;
    }
    .bg-oval-bottom {
        // bottom: -2.8em;
    }
}
