// VARIABLES
// ============================================================

$white:        #fff;
$red:          #FF6619;
$blue:				 #6A76B5;
$purple:       #5C5768;
$purple-2:     #826B99;
$purple-3:     #987DB3;
$yellow:       #FFFF00;
$yellow-2:     #FFD500;
$black:        #424243;
$grey:         #F0F0F0;

$desktop:      1100px;
$tablet:       800px;
$landscape:		 600px;
$mobile:       420px;
$mobile-xs:    320px;

@font-face {
  font-family: "Novecento";
  src: url("../fonts/Novecento-Bold.otf");
}

@font-face {
  font-family: "Sentinel";
  src: url("../fonts/Sentinel-Semibold.otf");
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Heavy.otf");
}

$font-head:    'Novecento', sans-serif;
$font-tile:    'Sentinel', serif;
$font-body:    'Sentinel', serif;